@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;

    &__intro, &__content {
        flex-grow: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            color: var(--auth-intro-text-color);

        }

        &-md-logo {
            position: absolute;
            top: 50px;
        }

        &-next {
            position: absolute;
            bottom: 50px;
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate .3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }
 
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: min(460px, 100%);
            margin: 50px auto;
            text-align: center;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-heading-color);
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__form {
        width: 100%;
        margin-top: 30px;
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__btn-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__btn {
        width: 100%;
        margin-left: 0;
    }

    &__text {
        margin-top: 60px;
        color: #9e9da8;
        font-size: 1.8rem;
        line-height: 144.444%;
    }
}