@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(3016%) hue-rotate(210deg) brightness(103%) contrast(96%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #ededf6;

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #D2D1D6;
    
    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow:rgba(200, 200, 200, 0.40);

    // Category Item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    // Filter Button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    // Product Card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Footer
    --footer-bg-color: var(--header-bg-color);

    // Auth
    --auth-content-bg: #fff;

    // Product page
    --product-page-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-tag-bg: #ededf6;
    --product-info-content-bg: #fff;

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    // Search bar
    --search-bar-bg: #fff;

    // Review card
    --review-card-bg: #fafafd;

    // Banner
    --banner-bg: #f6f6f6;

    // Checkout
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);
    --checkout-breadcrumbs-bg: #fff;

    // modal
    --modal-bg: #fff;
    --modal-shadow: rgba(237, 237, 246, 0.2);

    // Form
    --form-select-dialog-bg: #fff;
    --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
    --form-option-hover-bg: #ebebeb;




    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
        --auth-intro-bg: #fff;
        --product-page-bg: #fafafd;
        --breadcrumbs-bg: #fff;
        --product-detail-info-bg: #fff;
        --review-card-bg: #fff;

    }
}