@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 50px;
    width: min(1240px, 100%);
    visibility: hidden;

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-bg-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

@keyframes dropdownVisibility {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

.top-menu {
    --top-menu-main-column: 292px;
    position: relative;

    &__main {
        height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
        width: var(--top-menu-main-column);
        border-right: solid 2px var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 20px;
    }

    &__item--active .sub-menu {
        display: grid;
    }
    &__item--active > &__link,
    &__item:hover > &__link {
          color: #0071dc;
          font-weight: 500;
    }

    &__icon {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        position: relative;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--top-menu-main-column);
    padding-left: var(--inner-padding);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);
    overflow-y: auto;
}