.hover-layup {
    transition: translate;
    transition-duration: 0.3s;
    display: flex;

    &:hover {
        translate: 0 -10px;
    }
}

.hover-layup--lite {
    transition: translate;
    transition-duration: 0.3s;
    display: flex;

    &:hover {
        translate: 0 -5px;
    }
}

.hover-text-decor {
    position: relative;
    transition: color .3s;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 0%;
        height: 2px;
        background: #0071dc;
        transition: width .3s;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: #0071dc;
    }
}
